## iPython SQL magic extension

It is possible to directly execute SQL queries from within an iPython notebook. Although this is not our first choice, it is often convenient when we want to quickly test some queries while writing Python code. To enable SQL queries within the iPython notebooks, go to the vagrant terminal and type:

`sudo pip install ipython-sql`

Then, to enable SQL, we type the following "magic" command within the notebook

To connect to a database, we issue the following command:

`%sql mysql://username:password@hostname:port/database_name`

For example, to connect to our IMDB database:

In [ ]:
%load_ext sql

In [ ]:
%sql mysql://root:dwdstudent2015@localhost:3306/imdb?charset=utf8

In [ ]:
%sql show tables

In [ ]:
%sql describe actors

In [ ]:
%sql describe roles

In [ ]:
%sql select count(role) from roles

In [ ]:
%sql select actor_id from roles limit 100

In [ ]:
result = %sql select actor_id from roles limit 100
t = list(result)
len(t)

In [ ]:
qry = 'select count(*) from roles'
countroles = %sql $qry

# how many events match our query?
countroles

### Pandas

If you have installed pandas, you can use a result set's .DataFrame() method

In [ ]:
result = %sql SELECT genre, COUNT(*) AS movies FROM movies_genres GROUP BY genre ORDER BY movies DESC

In [ ]:
dataframe = result.DataFrame()
dataframe

The bogus non-standard pseudo-SQL command PERSIST will create a table name in the database from the named DataFrame.

In [ ]:
%sql DROP TABLE IF EXISTS dataframe 
%sql PERSIST dataframe

In [ ]:
%sql SELECT * FROM dataframe

### Graphing

If you have installed matplotlib, you can use a result set's .plot(), .pie(), and .bar() methods for quick plotting

In [ ]:
result = %sql SELECT genre, movies FROM dataframe

In [ ]:
%matplotlib inline
result.pie()