## iPython SQL magic extension

It is possible to directly execute SQL queries from within an iPython notebook, using the ipython SQL magic extension (see https://github.com/catherinedevlin/ipython-sql)

In [5]:
!sudo -H pip3 install -U ipython-sql

Requirement already up-to-date: ipython-sql in /usr/local/lib/python3.5/dist-packages
Requirement already up-to-date: ipython-genutils>=0.1.0 in /usr/local/lib/python3.5/dist-packages (from ipython-sql)
Requirement already up-to-date: prettytable in /usr/lib/python3/dist-packages (from ipython-sql)
Requirement already up-to-date: ipython>=1.0 in /usr/local/lib/python3.5/dist-packages (from ipython-sql)
Requirement already up-to-date: six in /usr/lib/python3/dist-packages (from ipython-sql)
Requirement already up-to-date: sqlparse in /usr/local/lib/python3.5/dist-packages (from ipython-sql)
Requirement already up-to-date: sqlalchemy>=0.6.7 in /usr/local/lib/python3.5/dist-packages (from ipython-sql)
Requirement already up-to-date: pygments in /usr/local/lib/python3.5/dist-packages (from ipython>=1.0->ipython-sql)
Requirement already up-to-date: pexpect; sys_platform != "win32" in /usr/local/lib/python3.5/dist-packages (from ipython>=1.0->ipython-sql)
Requirement already up-to-date: setuptools>=18.5 in /usr/local/lib/python3.5/dist-packages (from ipython>=1.0->ipython-sql)
Requirement already up-to-date: traitlets>=4.2 in /usr/local/lib/python3.5/dist-packages (from ipython>=1.0->ipython-sql)
Requirement already up-to-date: pickleshare in /usr/local/lib/python3.5/dist-packages (from ipython>=1.0->ipython-sql)
Requirement already up-to-date: simplegeneric>0.8 in /usr/local/lib/python3.5/dist-packages (from ipython>=1.0->ipython-sql)
Requirement already up-to-date: prompt-toolkit<2.0.0,>=1.0.3 in /usr/local/lib/python3.5/dist-packages (from ipython>=1.0->ipython-sql)
Requirement already up-to-date: decorator in /usr/local/lib/python3.5/dist-packages (from ipython>=1.0->ipython-sql)
Requirement already up-to-date: ptyprocess>=0.5 in /usr/local/lib/python3.5/dist-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql)
Requirement already up-to-date: wcwidth in /usr/local/lib/python3.5/dist-packages (from prompt-toolkit<2.0.0,>=1.0.3->ipython>=1.0->ipython-sql)

Although this is not our first choice, it is often convenient when we want to quickly test some queries while writing Python code.


To connect to a database, we issue the following command:

`%sql mysql://username:password@hostname:port/database_name`

For example, to connect to our IMDB database:

In [2]:
%load_ext sql

In [4]:
%sql mysql://root:dwdstudent2015@localhost:3306/imdb?charset=utf8

'Connected: root@imdb'

In [ ]:
%sql show tables

In [ ]:
%sql describe actors

In [ ]:
%sql describe roles

In [ ]:
%sql select count(role) from roles

In [ ]:
%sql select actor_id from roles limit 100

In [ ]:
result = %sql select actor_id from roles limit 100
t = list(result)
len(t)

In [ ]:
qry = 'select count(*) from roles'
countroles = %sql $qry

# how many events match our query?
countroles

### Pandas

If you have installed pandas, you can use a result set's .DataFrame() method

In [ ]:
result = %sql SELECT genre, COUNT(*) AS movies FROM movies_genres GROUP BY genre ORDER BY movies DESC

In [ ]:
dataframe = result.DataFrame()
dataframe

The bogus non-standard pseudo-SQL command PERSIST will create a table name in the database from the named DataFrame.

In [ ]:
%sql DROP TABLE IF EXISTS dataframe 
%sql PERSIST dataframe

In [ ]:
%sql SELECT * FROM dataframe

### Graphing

If you have installed matplotlib, you can use a result set's .plot(), .pie(), and .bar() methods for quick plotting

In [ ]:
result = %sql SELECT genre, movies FROM dataframe

In [ ]:
%matplotlib inline
result.pie()